!!!
%html
  %head
    %title= "EmblemMaker"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ 'data-no-turbolink' => true }

    - if signed_in?
      = render partial: '/layouts/user_icon', locals: { user: current_user, size: "60x60", klass: "margin_minus2" }
      = link_to "Top",    root_path
      = link_to "Logout", logout_path
    - else
      Login Your SocialAccount:
      = link_to 'Twitter',  '/auth/twitter'
      = link_to 'Facebook', '/auth/facebook'


    = yield

    = simple_format(flash[:notice], style: "color: green;") if flash[:notice].present?
    = simple_format(flash[:alert], style: "color: red;")    if flash[:alert].present?
    %br/
    %br/

    - if signed_in?
      - filename = "e" + current_user.id.to_s + ".jpg"
      - initial = current_user.name[0].downcase + "1"
      = cl_image_tag(filename, :transformation => { :effect => "ordered_dither:14", :width => 200, :height => 200, :crop => :thumb, :radius => 20}, :overlay => initial, :opacity => 80 )

    %center
      Developed by
      = succeed "," do
        %a{ href: "https://twitter.com/#{Settings.programmer_twitter_id}/", target: '_blank' }
          = "@#{Settings.programmer_twitter_id}"
      Designed by
      = succeed "," do
        %a{ href: "https://twitter.com/#{Settings.designer_twitter_id}/", target: '_blank' }
          = "@#{Settings.designer_twitter_id}"
      = "Copyright(c) Noriaki Takamizawa" 
